@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #1f2029;
    min-height: 100%;
    background-size: cover;
}
.title {
    color: #f0db4f;
    width: 100%;
    text-align: center;
}
.filters {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &>*{
        margin: .2em .9em;
    }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -99px;
}
[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    line-height: 39px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    color: #ffff;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:checked:hover+label::before,
[type="radio"]:not(:checked):hover+label::before,
[type="radio"]:checked:hover+label::after,
[type="radio"]:not(:checked):hover+label::after{
    opacity: 0.7;
}

[type="radio"]:checked+label::before,
[type="radio"]:not(:checked)+label::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    background-color: transparent;

    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:checked+label::after,
[type="radio"]:not(:checked)+label::after{
    content: '';
    width: calc(100% - 8px);
    border-radius: 2px;
    height: 22px;
    background-color: #e74c3c;
    position: absolute;
    top: 4px;
    left: 4px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label::after{
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked+label::after{
    opacity: 0.8;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.radio-gens:checked + label::before,
.radio-gens:not(:checked) + label::before{
    border: 3px solid #e74c3c;
}

.radio-gens:checked + label::after,
.radio-gens:not(:checked) + label::after{
    background-color: #e74c3c;
}