@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

:root {
    --header-height: 2.5rem;
    --nav-width: 219px;
    /* Colores*/
    --firs-color: #6923d0;
    --first-color: rgb(28, 203,107);
    --first-color-light: #1d1b1f;
    --title-color: #19181b;
    --text-color: #58555e;
    --text-color-light: #a5a1aa;
    --body-color: #181718;
    --container-color: #0b0b0b;
    /*Fonts*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
    --smiller-font-size: .75rem;    
    @media screen and (min-width: 1024px) {
        --normal-font-size: 1rem;
        --amall-font-size: 0.875rem;
        --smiller-font-size: 0.813rem;
    }
    --font-medium: 500;
    --font-semi-bold: 600;
    --z-fixed: 100;  
} 
//*Formateo de Pagima*//
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: var(--header-height) 0 0 0;
    padding: 1rem 1rem 0;
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}
h3 {
    margin: 0;
}
a {
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

/*Header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 1px 0 rgba(27, 8, 43, .1);
    padding: 0 1rem;
    z-index: var(--z-fixed);
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: var(--header-height);
    }
    &__img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
    }
    &__search{
        display: flex;
        padding: 0.4rem .75rem;
        background-color: var(--firs-color);
        border-radius: .25rem;  
    }
}